<!DOCTYPE html>
<meta charset="UTF-8">
<title>Todo application</title>
{{ importmap('app') }}

<body class="bg-body-tertiary">
    <div class="container-md bg-body shadow-sm mt-5 p-3">
        {{ component('TodoList') }}
    </div>
</body>
